*{
    margin: 0;
    padding: 0;
}
:root{
    --c1: #6e3c2a;
    --c2: #A4907C;
    --c3: #CCC;
    --c4: rgba(255, 255, 255, 0.45);
    --c5: white;
    --res: calc(0.01 * 10vmin);
    --hheader: 100px;
    font-family: "Poppins";
    font-size: 12.5px;

}

body > header{
    position: fixed;
    top:0;
    width: 100%;
    background-color: var(--c1);
    height: var(--hheader);
}
body > header .titre{
    position: absolute;
    top: 20px;
    left:15px;
}

header > nav{
    width: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
header > nav ul{
    list-style-type: none;
}
header > nav li{
    position: relative;
    float: left;
    width: calc(100% / 3);
    text-align: center;
}
header > nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    background-color: var(--c1);
}
header > nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.sous{
    position: absolute;
    width: 100%;
    display: none;
    background-color: red;
}
.deroulant:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
    background-color: var(--c5);
}
.sous a:hover{
    border-bottom: none;
    background-color: var(--c3);
}
.deroulant > a::after{
    content:"▼";
    font-size: 12px;
}

.slide{
    width: 100%;
    height: calc(100vh - var(--hheader)); 
}
header.slide{
    margin-top: var(--hheader);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}
header.slide .vignette{
    background-color: var(--c4);
    padding: 7vmin;
    text-align: center;
}
.vignette h2{
    font-size: calc(80 * var(--res));
}
.vignette h3{
    font-size: calc(20 * var(--res));
}
#index h2{
    font-size: calc(40 * var(--res));
}

@media all and (max-width: 800px){
    body > header h4 {
        display: none;
    }
}